<!DOCTYPE html>
<html lang="es" ng-app="phonecatApp">

<head>
    <title>Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
</head>

<body ng-cloak>


<div  ng-controller="taskController as tasks"> 

<h4> Guardar usuario </h4>
<div ng-if="!auth">
<h3> Iniciar sesión</h3>
<input type="text" ng-model="tasks.email"></input>
<input type="password" ng-model="tasks.password"></input>
<button type="button" ng-click="login()">Enviar data</button>
{{tasks.error.message}}
</div>

<div ng-if="auth">
<h3> subir excel</h3>
     <form ref='uploadForm'
            encType="multipart/form-data"
            ng-submit="uploadFile()">
            <div class="form-group">
              <label for="exampleInputFile">Seleccione archivo</label>
              <input 
                name="imagefileInput" 
                class="width-100 select-image" 
                type="file" 
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                id="fileInput"
                onchange="angular.element(this).scope().file_changed(this)" 
                required>
            </div>
            <div class="form-group">
              <input class="btn btn-success pull-left animated fadeIn" type="submit" value="Subir"/>
            </div>
          </form>
          {{tasks.res}}
          </div>

</div>
    <!-- Angular -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route/angular-route.min.js"></script>
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-storage.js"></script>
    <script type="text/javascript" src="js/angularfire/dist/angularfire.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- App -->
    <script type="text/javascript" src="config/config.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controller/taskController.js"></script>
    <!-- Services -->
    <script src="service/todoSrv.js"></script>
    <script src="service/tokenSrv.js"></script>
</body>


</html>